* {
  box-sizing: border-box;
}

.header {
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  position: fixed;
}

.nav-list {
  height: 40px;
  margin: 0;
}

.nav-item {
  float: left;
  line-height: 40px;
  margin-left: 16px;
  color: white;
  list-style: none;
}

.content {
  background-color: beige;
  height: 5000px;
}

.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: absolute;
  top: calc(50%);
  left: calc(50%);
}

.ear_right {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: relative;
  left: 200px;
  bottom: 60px;
}

.ear_left {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: relative;
  right: 40px;
  bottom: 120px;
}

.eye_right {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: grey;
  position: absolute;
  left: 40px;
  bottom: 80px;
}

.eye_left {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: grey;
  position: absolute;
  right: 40px;
  bottom: 80px;
}
